apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: smartapp
  name: smart-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: smart-app
  template:
    metadata:
      labels:
        app: smart-app
    spec:
      containers:
        - name: smart-app
          image: gevireddyofficial/smarthotelapp:15
          ports:
            - containerPort: 80